<header>
  <div class="menu">
    <div class="logo">
      <a href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
      <!-- <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">Your browser does not
        support svg images
      </object> -->
    </div>
    <ul>
      <li><a href="{{ '/' | prepend: site.baseurl }}">about-me</a></li>
      <li><a href="{{ '/portfolio' | prepend: site.baseurl }}">portfolio</a></li>
      <li><a href="{{ '/contact' | prepend: site.baseurl }}">contact</a></li>
    </ul>
  </div>

  <div class="social">
    <ul>
      <!-- {% if site.author.youtube %}
      <li>
        <a href="https://youtube.com/{{ site.author.youtube }}" target="_blank" class="smaller">
          <span class="icon-youtube"></span>
        </a>
      </li>
      {% endif %} -->
      <!-- {% if site.author.stackoverflow %}
      <li>
        <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" target="_blank" class="smaller">
          <span class="icon-stackoverflow"></span>
        </a>
      </li>
      {% endif %} -->
      {% if site.author.github %}
      <li>
        <a href="https://github.com/{{ site.author.github }}" target="_blank" class="smaller" title="github">
          <span class="icon-github"></span>
        </a>
      </li>
      {% endif %}
      {% if site.author.mail %}
      <li>
        <a href="mailto:{{ site.author.mail }}" target="_blank" title="email me">
          <span class="icon-mail_outline"></span>
        </a>
      </li>
      {% endif %}
      {% if site.author.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="smaller">
          <span class="icon-twitter"></span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="#" onclick="switchTheme()" title="invert mode">
          <span class="icon-invert_colors" id="theme-switcher"></span>
        </a>
      </li>

      <!-- <li>
        <div class="dropdown">
          <img id="avatar_img" src="" class="avatar" alt="avatar_img_alt">
          <div class="dropdown-content">
            <button
              onclick="localStorage.clear(); sessionStorage.clear(); location.reload(); location.reload();">log-out</button>
          </div>
        </div>
      </li> -->

    </ul>
  </div>
</header>

<!-- <script>
  const id = sessionStorage.getItem('id');
  const avatar = sessionStorage.getItem('avatar');
  const url = `https://cdn.discordapp.com/avatars/${id}/${avatar}.png`
  document.getElementById("testerino").innerHTML = process.env.TESTERINO;
  if (id !== undefined && id !== null) {
    document.getElementById("avatar_img").src = url;
  } else {
    document.getElementById("avatar_img").src = "{{ site.baseurl }}/assets/img/no_photo.jpg";
  }
</script> -->