.img {
  border-radius: 50%;
}

.button {
    border-radius: 3px;
    border: none;
    background-color: #0037ff;
    color: #ffffff;
    padding: 0px 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_discord {
    max-width: 20rem;
    min-width: 5rem;
    
    max-height: 5rem;
    min-height: 1rem;

    background-color: #7289da;
    color: #ffffff;
    border: 0px solid #7289DA;
}

.button_discord:hover {
    background-color: #4e68c4;
    color: #ffffff;
    border-bottom: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
}

/* Tooltip container */
.tooltip {
  font-size: 16px;
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted rgb(255, 255, 255); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  bottom: 250%;
  left: -500%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Tooltip container */
.tooltipDEMO {
  font-size: 16px;
  position: relative;
  display: inline-block;


  /* border-bottom: 1px dotted rgb(255, 255, 255); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipDEMO .tooltiptextDEMO {
  visibility: visible;
  // min-width: 500px;
  // max-width: 500px;

  position: absolute;
  
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  margin-left: -500%;
  margin-right: -500%;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipDEMO:hover .tooltiptextDEMO {
  visibility: visible;
}

.tooltipDEMO .tooltiptextDEMO::after {
  content: " ";
  position: absolute;
}